<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello, Admin</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <header class="container-fluid d-flex flex-row align-items-center justify-content-between p-3 bg-dark text-white">
        <div><b th:text="${user.getEmail()}"/> with roles:
            <span th:text="${user.getAllRolesAsString()}"/>
        </div>
        <div><a class="text-light" th:href="@{/logout}">Logout</a></div>
    </header>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 nopadding">

            <div class="list-group positionOfButtons" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active " id="list-home-list" data-toggle="list"
                   href="#list-home" role="tab" aria-controls="home">Admin</a>

                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                   href="#list-profile" role="tab" aria-controls="profile" onClick="document.location='/user'">User</a>
            </div>
        </div>

        <div class="col-10">
            <div>
                <h1>Admin panel</h1>
                <br>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                           aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                           aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="card">
                            <div class="card-block">
                                <table class="table tableColor1 ">
                                    <tr>
                                        <td>
                                            <h4>All users</h4>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table table-hover table-striped table-responsive-lg usersTable">
                                    <tread>
                                        <tr></tr>
                                        <tr>
                                            <th class="thId">ID</th>
                                            <th class="thFirstname">First name</th>
                                            <th class="thLastname">Last name</th>
                                            <th class="thAge">Age</th>
                                            <th class="thEmail">Email</th>
                                            <th class="thRole">Role</th>
                                            <th class="thEdit">Edit</th>
                                            <th class="thDelete">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getName()}"></td>
                                            <td th:text="${user.getSurname()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td th:text="${user.getAllRolesAsString()}"></td>
                                            <td>
                                                <button type="submit" class="btn btn-info"
                                                        data-toggle="modal"
                                                        th:attr="data-target='#exampleModal-'+${user.id}">
                                                    Edit
                                                </button>

                                                <div class="modal fade mdlSize" data-toggle="modal"
                                                     th:attr="id='exampleModal-'+${user.id}" tabindex="-1"
                                                     role="dialog" aria-labelledby="exampleModalEdit"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-lg asd" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalEdit">
                                                                    Edit
                                                                    user</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:method="POST"
                                                                      th:action="@{/admin/edit/{id}(id=${user.getId()})}"
                                                                      th:object="${user}">

                                                                    <div class="container-fluid col-md-6 text-center">
                                                                        <div class="form-group3">
                                                                            <label class="col-form-label font-weight-bold"
                                                                                   for="idEdit">ID</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   th:value="*{id}" th:name="id"
                                                                                   id="idEdit" readonly/>
                                                                        </div>
                                                                        <div class="form-group3">
                                                                            <label class="col-form-label font-weight-bold"
                                                                                   for="idEdit">First
                                                                                name</label>
                                                                            <input type="text"
                                                                                   class="form-control"
                                                                                   th:value="*{name}"
                                                                                   th:name="name"
                                                                                   id="nameEdit"/>
                                                                        </div>
                                                                        <div class="form-group3">
                                                                            <label class="col-form-label font-weight-bold"
                                                                                   for="idEdit">Last
                                                                                name</label>
                                                                            <input type="text"
                                                                                   class="form-control"
                                                                                   th:value="*{surname}"
                                                                                   th:name="surname"
                                                                                   id="surnameEdit"/>
                                                                        </div>
                                                                        <div class="form-group3">
                                                                            <label class="col-form-label font-weight-bold"
                                                                                   for="idEdit">Age</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   th:value="*{age}"
                                                                                   th:name="age"
                                                                                   id="ageEdit"/>
                                                                        </div>
                                                                        <div class="form-group3">
                                                                            <label class="col-form-label font-weight-bold"
                                                                                   for="idEdit">Email</label>
                                                                            <input type="email"
                                                                                   class="form-control"
                                                                                   th:value="*{email}"
                                                                                   th:name="email"
                                                                                   id="emailEdit"/>
                                                                        </div>
                                                                        <div class="form-group3">
                                                                            <label class="col-form-label font-weight-bold"
                                                                                   for="idEdit">Password</label>
                                                                            <input type="password"
                                                                                   class="form-control"
                                                                                   th:value="*{password}"
                                                                                   th:name="password"
                                                                                   id="passwordEdit"/>
                                                                        </div>
                                                                        <div class="form-group3">
                                                                            <label for="newRoles2"
                                                                                   class="col-form-label font-weight-bold">Role</label>
                                                                            <select multiple
                                                                                    class="form-control"
                                                                                    id="newRoles2"
                                                                                    name="roles">
                                                                                <option th:each="role : ${allRoles}"
                                                                                        th:selected="${role.getId()}"
                                                                                        th:value="${role.getId()}"
                                                                                        th:text="${role.getAuthorityWithoutPrefix()}"></option>
                                                                            </select>
                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-dismiss="modal">
                                                                                    Close
                                                                                </button>
                                                                                <button type="submit"
                                                                                        class="btn btn-primary"
                                                                                        data-toggle="modal"
                                                                                        th:attr="data-target='#exampleModal-'+${user.id}">
                                                                                    Edit
                                                                                </button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#exampleModalDelete"
                                                        th:attr="data-target='#exampleModalDelete-'+${user.id}">
                                                    Delete
                                                </button>
                                                <div class="modal fade" data-toggle="modal"
                                                     th:attr="id='exampleModalDelete-'+${user.id}" tabindex="-1"
                                                     role="dialog" aria-labelledby="1exampleModalDelete"
                                                     aria-hidden="true">

                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title"
                                                                    id="1exampleModalDelete">Delete
                                                                    user</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body qwe">
                                                                <form th:method="POST"
                                                                      th:action="@{/admin/delete(id=${user.getId()})}"
                                                                      th:object="${user}" th:align="center">
                                                                    <div class="form-group3">
                                                                        <fieldset disabled>
                                                                            <label class="col-form-label font-weight-bold"
                                                                                   for="idDelete">ID</label>
                                                                            <input type="number"
                                                                                   class="form-control"
                                                                                   th:value="*{id}" th:name="id"
                                                                                   id="idDelete"/>
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="form-group3">
                                                                        <label class="col-form-label font-weight-bold"
                                                                               for="nameDelete">First
                                                                            name</label>
                                                                        <input type="text"
                                                                               class="form-control"
                                                                               th:value="*{name}" th:name="name"
                                                                               id="nameDelete" readonly/>
                                                                    </div>
                                                                    <div class="form-group3">
                                                                        <label class="col-form-label font-weight-bold"
                                                                               for="surnameDelete">Last
                                                                            name</label>
                                                                        <input type="text"
                                                                               class="form-control"
                                                                               th:value="*{surname}"
                                                                               th:name="surname"
                                                                               id="surnameDelete" readonly/>
                                                                    </div>
                                                                    <div class="form-group3">
                                                                        <label class="col-form-label font-weight-bold"
                                                                               for="ageDelete">Age</label>
                                                                        <input type="number"
                                                                               class="form-control"
                                                                               th:value="*{age}" th:name="age"
                                                                               id="ageDelete" readonly/>
                                                                    </div>
                                                                    <div class="form-group3">
                                                                        <label class="col-form-label font-weight-bold"
                                                                               for="emailDelete">Email</label>
                                                                        <input type="email"
                                                                               class="form-control"
                                                                               th:value="*{email}"
                                                                               th:name="email"
                                                                               id="emailDelete" readonly/>
                                                                    </div>
                                                                    <div class="form-group3 ">
                                                                        <fieldset disabled>
                                                                            <label for="newRoles5"
                                                                                   class="col-form-label font-weight-bold">Role</label>
                                                                            <select multiple
                                                                                    class="form-control"
                                                                                    id="newRoles5"
                                                                                    name="roles">
                                                                                <option th:each="role : ${allRoles}"
                                                                                        th:selected="${role.getId()}"
                                                                                        th:value="${role.getId()}"
                                                                                        th:text="${role.getAuthorityWithoutPrefix()}"></option>
                                                                            </select>
                                                                        </fieldset>
                                                                        <div class="modal-footer ">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">Close
                                                                                <button type="submit"
                                                                                        class="btn btn-danger "
                                                                                        data-toggle="modal"
                                                                                        th:attr="data-target='#exampleModalDelete-'+${user.id}">
                                                                                    Delete
                                                                                </button>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </tread>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade addUserBg" id="nav-profile" role="tabpanel"
                         aria-labelledby="nav-profile-tab">
                        <div class="card">
                            <div class="card-block">
                                <table class="table  tableColor1">
                                    <tr>
                                        <td>
                                            <h4>Add new user</h4>
                                        </td>
                                    </tr>
                                </table>
                                <form th:method="POST" th:action="@{/admin}" th:object="${user}"
                                      th:align="center">
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">First name</label>
                                        <input type="text" class="form-control" th:field="*{name}"
                                               id="formGroupExampleInput"
                                               placeholder="First name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput2">Last name</label>
                                        <input type="text" class="form-control" th:field="*{surname}"
                                               id="formGroupExampleInput2" placeholder="Last name">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput3">Age</label>
                                        <input type="number" class="form-control" th:field="*{age}"
                                               id="formGroupExampleInput3" placeholder="Age">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput4">Email</label>
                                        <input type="text" class="form-control" th:field="*{email}"
                                               id="formGroupExampleInput4" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput5">Password</label>
                                        <input type="text" class="form-control" th:field="*{password}"
                                               id="formGroupExampleInput5" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="newRoles">Role</label>
                                        <select multiple class="form-control" id="newRoles" name="roles">
                                            <option th:each="role : ${allRoles}"
                                                    th:selected="${role.getId()}"
                                                    th:value="${role.getId()}"
                                                    th:text="${role.getAuthorityWithoutPrefix()}"></option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success buttonPos btn-lg">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <style>

        .buttonPos{
            margin-bottom: 15px;
        }
        .tableColor1{
            background-color: whitesmoke;
        }
        .addUserBg {
            background-color: white;
        }

        h4 {
            margin-left: 10px;
        }

        .usersTable {
            width: 98%;
            margin-left: 1%;
            margin-right: 1%;
        }

        .thId {
            width: 10%;
        }

        .thFirstname {
            width: 10%;
        }

        .thLastname {
            width: 10%;
        }

        .thAge {
            width: 5%;
        }

        .thEmail {
            width: 15%;
        }

        .thRole {
            width: 15%;
        }

        .thEdit {
            width: 10%;
        }

        .thDelete {
            width: 10%;
        }


        .positionOfButtons {
            margin-top: 10px;

        }


        .btn-info {
            color: white;
        }

        .qwe {
            margin-left: 30%;
            margin-right: 30%;
        }

        .asd {
            margin: 0 auto;
        }

        header {
            background-color: black;
        }



        .form-group {
            margin-left: 40%;
            margin-right: 40%;
            font-weight: bold;


        }

        html, body {
            margin: 0;
            padding: 0;
            height: 100px;

        }


        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }

        .col-10 {
            background-color: rgba(210, 210, 210, 0.28);
        }



        table:before {
            display: block;
            content: '';
            position: absolute;
            border: 1px solid grey;
            border-radius: 5px;
        }

        h1 {
            font-weight: bold;
            margin-top: 20px;
        }

        .row {
            min-height: 100vh;
        }


    </style>
    <script>
        class ItcTabs {
            constructor(target, config) {
                const defaultConfig = {};
                this._config = Object.assign(defaultConfig, config);
                this._elTabs = typeof target === 'string' ? document.querySelector(target) : target;
                this._elButtons = this._elTabs.querySelectorAll('.tabs__btn');
                this._elPanes = this._elTabs.querySelectorAll('.tabs__pane');
                this._eventShow = new Event('tab.itc.change');
                this._init();
                this._events();
            }

            _init() {
                this._elTabs.setAttribute('role', 'tablist');
                this._elButtons.forEach((el, index) => {
                    el.dataset.index = index;
                    el.setAttribute('role', 'tab');
                    this._elPanes[index].setAttribute('role', 'tabpanel');
                });
            }

            show(elLinkTarget) {
                const elPaneTarget = this._elPanes[elLinkTarget.dataset.index];
                const elLinkActive = this._elTabs.querySelector('.tabs__btn_active');
                const elPaneShow = this._elTabs.querySelector('.tabs__pane_show');
                if (elLinkTarget === elLinkActive) {
                    return;
                }
                elLinkActive ? elLinkActive.classList.remove('tabs__btn_active') : null;
                elPaneShow ? elPaneShow.classList.remove('tabs__pane_show') : null;
                elLinkTarget.classList.add('tabs__btn_active');
                elPaneTarget.classList.add('tabs__pane_show');
                this._elTabs.dispatchEvent(this._eventShow);
                elLinkTarget.focus();
            }

            showByIndex(index) {
                const elLinkTarget = this._elButtons[index];
                elLinkTarget ? this.show(elLinkTarget) : null;
            };

            _events() {
                this._elTabs.addEventListener('click', (e) => {
                    const target = e.target.closest('.tabs__btn');
                    if (target) {
                        e.preventDefault();
                        this.show(target);
                    }
                });
            }
        }

        new ItcTabs('.tabs');
    </script>

    &nbsp

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>
</html>

